# Byte-compiled
*.py[cod]
*$py.class
__pycache__/
*.pyc

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# Odoo
*.pyc

# Local / env
.env
*.log

# Binary / data files
*.tar.gz
.filestore_gcc_timesheet/
