# Odoo Configuration
ODOO_DB_NAME=edafa_19_accounting_retension_dev
ODOO_DB_USER=odoo19
ODOO_DB_PASSWORD=odoo19
ODOO_DB_HOST=localhost
ODOO_DB_PORT=5432

# Odoo Admin
ODOO_ADMIN_PASSWORD=admin

# Project Settings
PROJECT_NAME=edafa_19_accounting_retension
PROJECT_PORT=8020
